---
layout: default
---
  

<article class="post">

  <h1 class="title">{{ page.title }}</h1>
  {{ content }}

</article>

  <div id="carbonads"><span><span class="carbon-wrap"><a href="https://local.bitcoin.com/" alt="ads via Bitcoin.com" class="carbon-img" target="_blank" rel="noopener sponsored"><img src="https://local.bitcoin.com/localbitcoin-card-preview-updated-v3.png" alt="ads via Bitcoin.com" alt="Local.Bitcoin.com" border="0" style="max-width: 130px;"></a><a href="https://local.bitcoin.com" class="carbon-text" target="_blank" rel="noopener sponsored">Local.Bitcoin.com: The Private Bitcoin Exchange</a></span>Advertisement</span></div>
