---
layout: default
---
 
    
  <h1 class="title">{{ page.title }}</h1>
  <p class="date">{{ page.date | date: "%B %-d, %Y" }} by {{ page.author }} </time> </p>



  {{ content }}

<p class="discuss">
        
          Comments? <a href="https://twitter.com/derykmakgill" target="_blank">Tweet me.</a> Or  <a href="/support">support</a> this post.
        
      </p>
<!-- This line should go where you want to put your button -->
<div class="money-button"
  data-to="116"
  data-amount=".25"
  data-currency="USD"
  data-label="Money Button"
  data-client-identifier="5edea0d079e4429f972f163da4d152ec"
  data-button-id="1580358191619"
  data-button-data="{}"
  data-type="tip"
></div>
<!-- This line can go anywhere -->
<script src="https://www.moneybutton.com/moneybutton.js"></script>

<p class="next-prev">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</p>



<div style="text-align: center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" onclick="window.location.href = 'https://breakingsatoshi.substack.com/';"></div>

<div id="carbonads"><span><span class="carbon-wrap"><a href="https://local.bitcoin.com/" alt="ads via Bitcoin.com" class="carbon-img" target="_blank" rel="noopener sponsored"><img src="https://local.bitcoin.com/localbitcoin-card-preview-updated-v3.png" alt="ads via Bitcoin.com" alt="Local.Bitcoin.com" border="0" style="max-width: 130px;"></a><a href="https://local.bitcoin.com" class="carbon-text" target="_blank" rel="noopener sponsored">Local.Bitcoin.com: The Private Bitcoin Exchange</a></span>Advertisement</span></div>

