---
layout: default
---
 
    
  <h1 class="title">{{ page.title }}</h1>
  <p class="date">{{ page.date | date: "%-d %B %Y" }} <span class="separator">·</span> {{ page.author }} </time> </p>

  {{ content }}

<p class="discuss">
        
          Comments? <a href="https://twitter.com/derykmakgill" target="_blank">Tweet me.</a> Or  <a href="/support">support</a> this post.
        
      </p>
</div>


<p class="next-prev main-column">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</p>

<div id="carbonads"><span><span class="carbon-wrap"><a href="https://tncpw.co/d7badc64" class="carbon-img" target="_blank" rel="noopener sponsored"><img src="https://pbs.twimg.com/media/Di4NA8JXgAE2v_P?format=jpg&amp;name=medium" alt="ads via TonicPow" border="0" style="max-width: 130px;"></a><a href="https://tncpw.co/d7badc64" class="carbon-text" target="_blank" rel="noopener sponsored">HandCash: The Bitcoin Wallet You Can Recommend.</a></span>ads via TonicPow</span></div>
